body, html {
	margin: 0px;
	padding: 0px;
}

.letter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 101%;
	line-height: 150%;
	text-indent: 15px;
	padding-top: 0px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
}

.pic {
	border-radius:10px;
	margin-top: 17px;
	}

h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 120%;
	padding: 20px;
	font-variant: small-caps;
	color: #000000;
}

li a:link {
	color: #663333;
	text-decoration: underline;
}

li a:hover {
color: #F43E00;
text-decoration: underline;
}


li a:visited {
	color: #999999;
	text-decoration: underline;
}


.zag_main .g2 {
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	/*margin-right: 130px;*/
}

.zag_main .g {
	font-size: 3em;
	text-transform: capitalize;
	font-weight: normal;
	padding-top: 20px;
	padding-bottom: 5px;
	color: #600;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*margin-right: 130px;*/
}
.zag_main .g1 {
	font-size: 1em;
	color: #FFFFFF;
	/*margin-right: 130px;*/
}
.zag_main .g1 {
}



/*.zag_main .letter td {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #000000;
	margin-top: 50px;
	background-color: #CCCCCC;
	padding-top: 100px;
}*/



.zag_main {
	background-color: #FFFFFF;
	height: 250px;
/*	height: 100%*/
	color: #663333;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: right;
	background-image: url(img/sate2.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-right: 130px;
	padding-left: 50px;
	padding-bottom: 100px;

}
.shap_bok {
	background-image: url(img/sate.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 250px;
 /*   height: 100%;*/
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 150%;
	/*font-variant: small-caps;*/
	list-style-type: none;
	color: #663333;
	padding-top: 220px;
}
.shap_boK_2 {
	background-image: url(img/sate3.jpg);
	background-color: #F7F7F7;
	background-position: left top;
	width: 38px;
	background-repeat: no-repeat;
	height: 409px;
}

.menu {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 150%;
	/*font-variant: small-caps;*/
	list-style-type: none;
	color: #663333;
}
